<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pet-life</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img  src="" alt="logotipo">
        </div>
    <!--nav-->
        <nav class="navegacion"> 
            <div>
                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="sobre_nosotros.html">Sobre nosotros</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                    <li><a href="adopcion.html">Adopción</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </nav>
<!--finav-->
    </header>
    <div class="separador"></div>   
<!--slider-->
<div class="titulo1">
    <h1>Albergue Adelle</h1>
    <img src="/img/.log-otr/practica de patitas.png" alt="">
</div>
    <h3><i>"Amigos peluditos que buscan un hogar lleno de amor y felicidad, dejando huella en los corazones "</i></h3>
    <section class="banner">
        <ul class="slider1">
            <li><img src="/img/.slider/pexels-mia-x-12195429.jpg" alt="img1"></li>
            <li><img src="/img/.slider/pexels-mihaela-pastiu-9809436.jpg" alt="img2"></li>
            <li><img src="/img/.slider/pexels-tina-nord-7324407.jpg" alt="img3"></li>
        </ul>
    </section>

<!--finslider-->
    <div class="separador"></div>
    <main>
        
        <div class="container">
            <section><img id="perrito1" src="/img/.perro/pexels-denniz-futalan-2523934.jpg" alt="perrito_1"> <p class="texto_perrito">El es Max, Max había llegado a la perrera después de ser encontrado solo en la calle, abandonado y asustado. A pesar de sus experiencias pasadas, conservaba una chispa de alegría 
            en su corazón y anhelaba compartir su amor con una familia cariñosa, Todos los días, Max observaba alegremente a través de los barrotes de su jaula mientras las personas pasaban. Movía la cola con entusiasmo y ladraba suavemente, esperando captar la atención de alguien que quisiera llevarlo a casa. 
            Max se convirtió en el favorito de los voluntarios de la perrera por su naturaleza amigable y su disposición alegre. Siempre estaba listo para dar amor y recibir caricias, demostrando que tenía mucho amor para dar a su futura familia.
            Y entonces, un día especial, una familia entró en la perrera buscando un compañero peludo. Fue amor a primera vista cuando vieron a Max, con sus ojos brillantes y su cola moviéndose rápidamente. Sabían que él era el compañero perfecto para ellos.
            Max fue llevado a su nuevo hogar, donde recibió amor, cuidado y un lugar cómodo para descansar su cabeza. Finalmente, encontró lo que había estado buscando todo el tiempo: un hogar lleno de amor y una familia que lo adoraba.
            Desde ese día, Max vivió feliz y contento, sabiendo que nunca más estaría solo. Su historia es un recordatorio de que, aunque el camino puede ser difícil a veces, el amor siempre encuentra su camino a casa.</p></section>
        
        
            <section><img  src="/img/.perro/pexels-helena-lopes-3763312.jpg" alt="perrito_2"> <p class="texto_perrito">
                En una fría mañana de otoño, un pequeño cachorro con manchas negras y blancas, un bonito dálmata, deambulaba solo por las calles de la ciudad. Estaba nervioso y temblaba de frío mientras buscaba desesperadamente algo de comida y refugio. Había sido abandonado, dejado a merced de las duras realidades de la calle
                Por suerte, una bondadosa alma lo encontró y lo llevó a nuestra perrera. Nuestro personal lo recibió con cariño y lo llamaron "Spot" debido a las distintivas manchas que adornaban su pelaje. Spot estaba agradecido por el refugio cálido y seguro que la perrera le proporcionaba, pero anhelaba algo más: un hogar amoroso y una familia que lo cuidara.
                
            </p></section>
        
        
            <section><img  src="/img/.perro/pexels-sam-lion-5732504.jpg" alt=""> <p class="texto_perrito">
                Max y Luna son dos encantadores perritos que han pasado por una historia de resiliencia y esperanza. Estos dos pequeños fueron rescatados de un entorno difícil donde no recibían el cuidado y el amor que merecían. A pesar de las dificultades, siempre mantuvieron una actitud positiva y llena de energía.
                Max, el perrito de pelaje más oscuro, es un cachorro alegre y juguetón. Le encanta correr y jugar con su pelota favorita. A pesar de su tamaño pequeño, tiene un gran corazón y siempre está dispuesto a dar y recibir amor. Max tiene una habilidad especial para hacer sonreír a todos los que lo conocen.
                Luna, la perrita de pelaje más claro, es una compañera leal y cariñosa. Disfruta de los paseos tranquilos y le encanta recibir caricias en su barriga. Es una perrita muy sociable y se lleva bien con otros animales y personas. Luna tiene un espíritu tranquilo y sereno que aporta paz a cualquier hogar.
                Actualmente, Max y Luna están en busca de una familia que los adopte juntos, ya que tienen un vínculo muy especial. Han pasado por mucho y merecen un hogar donde puedan recibir el amor y el cuidado que necesitan. Si estás interesado en adoptar a estos dos maravillosos perritos y darles la oportunidad de una vida feliz y llena de amor, por favor, no dudes en contactarnos.
            </p></section>
        </div>


        <div class="separador"></div>


        <footer class="pie_pagina">

            <div class="pie_1">
                <ul>
                    <li><a href="#">
                        <img src="/img/.log-otr/instagram.ico" alt="Albergue Adelle instagram">
                        Instagram</a></li>
                    <li><a href="#">
                        <img src="/img/.log-otr/facebook.ico" alt="Albergue Adelle facebook">
                        Facebook</a></li>
                    <li><a href="#">
                        <img src="/img/.log-otr/twitter.ico" alt="Albergue Adelle twitter">
                        Twitter</a></li>
                    <li><a href="#">
                        <img src="/img/.log-otr/telegram.ico" alt="Albergue Adelle telegram">
                        Telegram</a></li>
                </ul>
            </div>
            <div class="pie_2">
                <img src="" alt="logotipo">    
            </div>
        </footer>
        <div class="separador"></div>
    </main>
</body>
</html>